extends layout

block content
    .container
        .main.container
            .row
                .text-center
                    h1.display-4.m-b-2 Detalle de Noticia
                .form-group
                    label(for="titulo") Titulo:
                    input#titulo.form-control(type="text",name="titulo", value=data.titulo,readonly)
                .form-group
                    label(for="descripcion") Descripción:
                    input#descripcion.form-control(type="text",name="descripcion",value=data.descripcion,readonly)
                .form-group
                    label(for="categoria") Categoria:
                    input#categoria.form-control(type="text",name="categoria",value=data.categoria,readonly)
                .form-group
                    label(for="fecha") Fecha:
                    input#fecha.form-control(type="text",name="fecha",value=data.fecha,readonly)
                h1 Comentarios:
                .row
                    if (data.comentarios.length)>=1
                        for item in data.comentarios
                            .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                .panel.panel-success
                                    .panel-heading
                                        .text-center
                                            h4 Comentario
                                    .panel-body
                                        .form-group
                                            label(for="autor") Autor:
                                            input#autor.form-control(type="text",name="autor",value=item.autor, readonly)
                                        .form-group
                                            label(for="mensaje") Mensaje:
                                            input#mensaje.form-control(type="text",name="mensaje",value=item.mensaje, readonly)
                                        .form-group
                                            label(for="fecha") Fecha:
                                            input#fecha.form-control(type="text",name="fecha",value=item.fecha, readonly)
                    else 
                        h4.text-danger No tiene comentarios aún :)
                a.btn.btn-warning(href="/news", style="margin-bottom:30px;") Regresar